body {
    background-image: url("../images/food.jpg");
    background-repeat: no-repeat;
}

.top {
    position:absolute;
    left:0; right:0;
    height: 128px;
}

.left {
    position:absolute;
    left:0; top:128px; bottom: 0;
    width: 178px;
}

.right {
    position:absolute;
    right:0; top:128px; bottom: 0;
    width: 178px;
}

.main {
    position: absolute;
    left:178px;top:128px; right:178px; bottom:0;
}

h1 {
    font-family: 'Oswald';
    text-align: center;
    color: #fffce2;
    font-size: 48px;
}

h3 {
    font-family: 'Oswald';
    text-align: center;
    color: #fffce2;
}

#but-proj1 {
    margin: 25px 50px 25px 50px;
}

#but-proj2 {
    margin: 25px 50px 25px 50px;
}

#but-proj3 {
    margin: 25px 50px 25px 50px;
}

#but-proj4 {
    margin: 25px 50px 25px 50px;
}

#ourimg {
    margin-top: 5%;
    margin-right: 50%;
    margin-left: 25%;
    opacity: 0.85;
}

p {
    font-family: 'Oswald';
    text-align: center;
    font-size: 28px;
    color: white;
    background: black;
}

dt, dd {
    color: white;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: black;
}

.btn-primary {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}